<div class="page-wrapper">
  <div class="container">
    <div class="form-wrapper">
      <h2 class="form-title">Kayıt Formu</h2>
      <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
        <div class="form-group">

          <label for="nameSurname">Ad Soyad</label>
          <input type="text" 
          formControlName="nameSurname" 
          class="form-control" 
          id="nameSurname" 
          placeholder="Adınızı ve soyadınızı giriniz"
          [ngClass]="{'is-invalid': submitted && component.nameSurname.errors}"
          >
          <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.nameSurname.errors?.required">Lütfen Ad Soyadı Boş Geçmeyiniz</small>

          <small class="form-text text-muted invalid-feedback" *ngIf="submitted && (component.nameSurname.errors?.maxlength || component.nameSurname.errors?.minlength)">
            Lütfen Ad Soyadı 3-50 Karakter Arasında Yazınız
          </small>
          
        </div>

        <div class="form-group">
          <label for="username">Kullanıcı Adı</label>
          <input type="text"
          formControlName="username"
          class="form-control" id="username" 
          placeholder="Kullanıcı adınızı giriniz"
          [ngClass]="{'is-invalid': submitted && component.username.errors}"
          >

          <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.username.errors?.required">Lütfen Kullanıcı Adını Boş Geçmeyiniz</small>

          <small class="form-text text-muted invalid-feedback" *ngIf="submitted && (component.username.errors?.maxlength || component.username.errors?.minlength)">
            Lütfen Kullanıcı Adı 3-50 Karakter Arasında Yazınız
          </small>

        </div>

        <div class="form-group">
          <label for="email">Email Adresi</label>
          <input type="email" 
          formControlName="email"
          class="form-control" id="email" 
          placeholder="Email adresinizi giriniz" 
          aria-describedby="emailHelp"
          [ngClass]="{'is-invalid': submitted && component.email.errors}"
          >

          <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.email.errors?.required">Lütfen E-maili Boş Geçmeyiniz</small>

          <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.email.errors?.email">Lütfen E-mail Formatına Uygun Biçimde Yazınız</small>
        </div>


        <div class="form-group">
          <label for="password">Şifre</label>
          <input type="password" 
          formControlName="password"
          class="form-control" id="password" 
          placeholder="Şifrenizi giriniz"
          [ngClass]="{'is-invalid': submitted && component.password.errors}"
          >
          <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.password.errors?.required">Lütfen Şifreyi Boş Geçmeyiniz</small>

        </div>


        <div class="form-group">
          <label for="passwordConfirm">Şifre Tekrarı</label>
          <input type="password" 
          formControlName="passwordConfirm"
          class="form-control" id="passwordConfirm" 
          placeholder="Şifrenizi tekrar giriniz"
          [ngClass]="{'is-invalid': submitted && component.passwordConfirm.errors}"
          >
          <small *ngIf="submitted && frm.hasError('notSame')">Şifreleri Lütfen Aynı Giriniz</small>
        </div>


        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
        </div>
        <button type="submit" class="btn btn-primary">Kayıt Ol</button>
      </form>
    </div>
  </div>
</div>
