<div class="page-wrapper">
  <div class="container">
    <div class="form-wrapper">
      <h2 class="form-title">Kayıt Formu</h2>
      <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
        <div class="form-group">

          <label for="fullName">Ad Soyad</label>
          <input type="text" 
          formControlName="adSoyad" 
          class="form-control" 
          id="fullName" 
          placeholder="Adınızı ve soyadınızı giriniz"
          [ngClass]="{'is-invalid': submitted && component.adSoyad.errors}"
          >
          <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.adSoyad.errors?.required">Lütfen Ad Soyadı Boş Geçmeyiniz</small>

          <small class="form-text text-muted invalid-feedback" *ngIf="submitted && (component.adSoyad.errors?.maxlength || component.adSoyad.errors?.minlength)">
            Lütfen Ad Soyadı 3-50 Karakter Arasında Yazınız
          </small>
          
        </div>

        <div class="form-group">
          <label for="username">Kullanıcı Adı</label>
          <input type="text"
          formControlName="kullaniciAdi"
          class="form-control" id="username" 
          placeholder="Kullanıcı adınızı giriniz"
          [ngClass]="{'is-invalid': submitted && component.kullaniciAdi.errors}"
          >

          <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.kullaniciAdi.errors?.required">Lütfen Kullanıcı Adını Boş Geçmeyiniz</small>

          <small class="form-text text-muted invalid-feedback" *ngIf="submitted && (component.kullaniciAdi.errors?.maxlength || component.kullaniciAdi.errors?.minlength)">
            Lütfen Kullanıcı Adı 3-50 Karakter Arasında Yazınız
          </small>

        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Email Adresi</label>
          <input type="email" 
          formControlName="email"
          class="form-control" id="exampleInputEmail1" 
          placeholder="Email adresinizi giriniz" 
          aria-describedby="emailHelp"
          [ngClass]="{'is-invalid': submitted && component.email.errors}"
          >

          <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.email.errors?.required">Lütfen E-maili Boş Geçmeyiniz</small>

          <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.email.errors?.email">Lütfen E-mail Formatına Uygun Biçimde Yazınız</small>
        </div>


        <div class="form-group">
          <label for="exampleInputPassword1">Şifre</label>
          <input type="password" 
          formControlName="sifre"
          class="form-control" id="exampleInputPassword1" 
          placeholder="Şifrenizi giriniz"
          [ngClass]="{'is-invalid': submitted && component.sifre.errors}"
          >
          <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.sifre.errors?.required">Lütfen Şifreyi Boş Geçmeyiniz</small>

        </div>


        <div class="form-group">
          <label for="confirmPassword">Şifre Tekrarı</label>
          <input type="password" 
          formControlName="sifreTekrar"
          class="form-control" id="confirmPassword" 
          placeholder="Şifrenizi tekrar giriniz"
          [ngClass]="{'is-invalid': submitted && component.sifreTekrar.errors}"
          >
          <small *ngIf="submitted && frm.hasError('notSame')">Şifreleri Lütfen Aynı Giriniz</small>
        </div>


        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
        </div>
        <button type="submit" class="btn btn-primary">Kayıt Ol</button>
      </form>
    </div>
  </div>
</div>
