<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home" *ngIf="userRole==='Customer' && authService.isAuthenticated">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="adverts" *ngIf="userRole==='Customer' && authService.isAuthenticated">İlanlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="login" *ngIf="!authService.isAuthenticated">Giriş Yap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="register" *ngIf="!authService.isAuthenticated">Kayıt Ol</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-success" routerLink="admin" *ngIf="userRole==='Admin' && authService.isAuthenticated">Yönetim Paneli</a>
        </li>
        
        
        <li class="nav-item" >
          <a class="nav-link active" routerLink="create-profile" *ngIf="userRole==='Customer' && authService.isAuthenticated">⚙️ Profil Düzenle</a></li>
          <li class="nav-item" >
            <a class="nav-link active"
            routerLink="profile" *ngIf="userRole==='Customer' && authService.isAuthenticated">👁‍🗨 Profilim
          </a>
        </li>
          
        <li class="nav-item">
          <a class="nav-link text-danger" routerLink="" (click)="signOut()" *ngIf="authService.isAuthenticated">Çıkış Yap</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
