<!-- Card Component -->
<div class="container my-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let job of jobs; let i = index">
      <div class="card custom-card">
        <div class="card-body">
          <h5 class="card-title">{{ job.Title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ job.companyName }}</h6>
          <p class="card-text"><strong>Position:</strong> {{ job.position }}</p>
          <p class="card-text"><strong>Address:</strong> {{ job.address }}</p>
          <p class="card-text"><strong>Type of Work:</strong> {{ job.typeOfWork }}</p>
          <p class="card-text"><strong>Requirements:</strong></p>
          <div [id]="'quill-container-' + i" class="quill-container"></div> <!-- Quill container -->
        </div>
      </div>
    </div>
  </div>
</div>
